In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'growth ':[.5, .7, 1.2],
    'Name':['Paul', 'George', 'Ringo']
})

In [4]:
df

   growth     Name
0      0.5    Paul
1      0.7  George
2      1.2   Ringo

In [5]:
df.iloc[2]

growth       1.2
Name       Ringo
Name: 2, dtype: object

In [6]:
df['Name']

0      Paul
1    George
2     Ringo
Name: Name, dtype: object

In [7]:
type(df['Name'])

pandas.core.series.Series

In [8]:
df['Name'].str.lower()

0      paul
1    george
2     ringo
Name: Name, dtype: object

In [9]:
df.Name

0      Paul
1    George
2     Ringo
Name: Name, dtype: object

In [10]:
pd.DataFrame(
    [
        {'growth':.5, 'Name':'Paul'},
        {'growth':.7, 'Name':'George'},
        {'growth':1.2, 'Name':'Ringo'}
    ]
)

   growth    Name
0     0.5    Paul
1     0.7  George
2     1.2   Ringo

In [11]:
from io import StringIO

In [12]:
csv_file = StringIO("""growth,Name
                    .5,Pual
                    .7,George
                    1.2,Ringo""")

In [13]:
pd.read_csv(csv_file)

   growth    Name
0     0.5    Pual
1     0.7  George
2     1.2   Ringo

In [14]:
import numpy as np

In [15]:
np.random.seed(42)

In [16]:
pd.DataFrame(np.random.randn(10, 3),
             columns=['A', 'B', 'C'])

          A         B         C
0  0.496714 -0.138264  0.647689
1  1.523030 -0.234153 -0.234137
2  1.579213  0.767435 -0.469474
3  0.542560 -0.463418 -0.465730
4  0.241962 -1.913280 -1.724918
5 -0.562288 -1.012831  0.314247
6 -0.908024 -1.412304  1.465649
7 -0.225776  0.067528 -1.424748
8 -0.544383  0.110923 -1.150994
9  0.375698 -0.600639 -0.291694

In [17]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['growth ', 'Name'], dtype='object')]

In [18]:
df.sum(axis=0)

growth                 2.4
Name       PaulGeorgeRingo
dtype: object

In [21]:
# df.sum(axis=1)

In [23]:
df.sum(axis='index')

growth                 2.4
Name       PaulGeorgeRingo
dtype: object

In [24]:
# df.sum(axis='columns')

In [25]:
df = pd.DataFrame({
    'Score1': [None, None, 35, 65],
    'Score2': [85, 90, 45, 10]
})

In [26]:
df

   Score1  Score2
0     NaN      85
1     NaN      90
2    35.0      45
3    65.0      10

In [27]:
df.sum(axis=0)

Score1    100.0
Score2    230.0
dtype: float64

In [28]:
df.sum(axis=1)

0    85.0
1    90.0
2    80.0
3    75.0
dtype: float64

In [29]:
df.apply(np.sum, axis=0)

Score1    100.0
Score2    230.0
dtype: float64

In [30]:
df.apply(np.sum, axis=1)

0    85.0
1    90.0
2    80.0
3    75.0
dtype: float64